<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">{% if title_jumb is defined %}{{ title_jumb }}{% endif %}</h1>
          <p class="lead">{% if title_jumb is defined %}{{ text_page }}{% endif %}</p>
        </div>
      </div>