<style>
#prices table,#prices  tr, #prices  th,#prices  td{
    border:1px black solid;
    padding:1%;
    background: white;
    margin-right:5%;
     margin-left:5%;
  }  
  #prices table{
    border-collapse: collapse;
  }
</style>
<section id="prices">
<table>
    <thead>
      <tr>
        <th></th>
        <th>Adults</th>
        <th>Children under 12 years old</th>
        <th>Groups of more than 10 people</th>
        <th>Schools</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Weekdays except Wednesday</th>
        <td>$30</td>
        <td>$15</td>
        <td>$20 per person</td>
        <td>$8 per schoolchild</td>
      </tr>
      <tr>
        <th scope="row">Weekend and Wednesday</th>
        <td>$37</td>
        <td>$21</td>
        <td>$26 per person</td>
        <td>$11 per schoolchild</td>
      </tr>
    </tbody>
  </table>
  </section>
